<section id="search">
    <h1>Search</h1>
    <form action="/search" method="get" class="form">
        <input type="text" class="search" name="title" placeholder="Title...">
        <input type="text" name="genre" class="genre" placeholder="Genre...">
        <input type="number" name="year" class="year" placeholder="Year...">
        <input type="submit" value="search">
    </form>
</section>

<section id="catalog">
    <div class="band">
        <!-- If there are posts for movie in the database display each of them -->
        {{#if hasMovies}}
        {{#each movies}}
        <div class="flip flip-vertical">
            <div class="front">
                <img src="{{imageURL}}" alt="Jungle-Couise">
            </div>
            <div class="back">
                <h1>{{title}}</h1>
                <h2>Genre: {{genre}}</h2>
                <p>Description: {{description}}
                </p>
                <a href="/details/{{_id}}" class="details">Details</a>
                {{#if userDataId}}
                <a href="/movies/{{_id}}/attach" class="details">Attach</a>
                {{/if}}
            </div>
        </div>
        {{/each}}
        {{else}}
        <!-- If there are no posts matched display: -->
        <div class="no-posts">
            <p class="no-offer">There are no movies matched...</p>
        </div>
        {{/if}}
    </div>
</section>