<div class="info">
    <h2 class="title">{{title}}</h2>
    <h4 class="genre">Type: {{type}}</h4>
    <h4 class="certificate">Certificate: {{certificate}}</h4>
    <h4 class="price">Price: €{{price}}</h4>
    <div class="learn-more">
        <a href="/details/{{_id}}">Learn More...</a>
    </div>
</div>