{{#if errors}}
<div class="notification">
    <p>Name, description and breeds required!</p>
</div>
{{/if}}
{{#with vars}}
<form action="/cats/edit/{{cat.id}}" method="post" class="cat-form" enctype="multipart/form-data">
    <h2>Edit Cat</h2>
    <label for="name">Name</label>
    <input name="name" type="text" id="name"  value="{{cat.name}}">
    <label for="description">Description</label>
    <textarea name="description" id="description">{{cat.description}}</textarea>
    <label for="image">Image</label>
    <input type="file" id="image" name="imgURL" value="{{cat.imgURL}}">
    <labe for="group">Breed</label>
    <select name="breed" id="group">
        <option value="{{cat.breed}}">{{cat.breed}}</option>
        {{> breeds}}
    </select>
    <button type="submit">Edit Cat</button>
</form>
{{/with}}